.venv/
__pycache__/
*.pyc
build/
dist/
*.egg-info/
logs/
videos/
models/*.pt
models/*.onnx
models/*.engine
models/openvino_model/
edge-ai-training/datasets/*
!edge-ai-training/datasets/manifests/
edge-ai-training/models/
*.avi
*.mp4
*.bag
*.ulg
.DS_Store
.vscode/pyrightconfig.json
.vscode/settings.json
pyrightconfig.json
edge-vision-uav-landing/pyrightconfig.json
runs/
**/*.pt
**/*.onnx
.vscode/